body {
	background-color:#F8EDEB;

}
td.banner {
	padding: 30px;
}
td.banner > a {
	font-size: 15pt;
	text-decoration: none;
	color:black;
}

td.banner > a:hover {
	color: magenta;
}

img.hasborder {
	border: 3px solid black;
}